<% @couriers.each do |courier| %>
  <div class="index_row clearfix">
    <h2 class="courier_name"><%= link_to courier.name, courier %></h2>
    <p class="courier_email"><%= courier.email %></p>
  </div>
<% end %>
<div class="links">
  <%= link_to "New Courier", new_courier_path %>
</div>
<div id="notice" style="text-align: center;"><%= notice %></div>
