/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$blue: rgba(110, 197, 226, 0.62);

* {
  box-sizing: border-box;
}

//html {
//  height: 100%;
//}

body {
  height: 100%;
  background: url(asset-path('pic.jpg'));
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.header {
  text-align: center;
  color: black;
  font-weight: 100;
}

.container {
  width: 50%;
  max-width: 750px;
  background: $blue;
  margin: 3em auto 0 auto;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, .03);
  padding: 1em 0;
}

.sub_container {
  width: 50%;
  max-width: 750px;
  background: $blue;
  margin: 3em auto 0 auto;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 4px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, .03);
  padding: 1em 0;
}

.courier_name {
  text-align: center;
  font-weight: 700;
  font-size: 1.0rem;
  text-transform: uppercase;
  margin: 0;
  .courier_email {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
    transition: all .4s ease-in-out;
    &:hover {
      opacity: 0.4;
    }
  }
}

.courier_email {
  margin: 0 0 3em 0;
  text-align: center;
  font-size: 0.9em;
  color: blue;
  font-weight: 100;
}


.index_row {
  padding: 2em;
  border-bottom: 1px solid rgba(250, 250, 250, .3);
  .courier_email {
    margin-bottom: 0;
  }
  .courier_name {
    margin-bottom: 0;
  }
}

#packages_wrapper {
  .row {
    width: 100%;
    border-top: 1px solid rgba(250, 250, 250, .3);
    border-bottom: 1px solid rgba(250, 250, 250, .3);
    .complete {
      width: 10%;
      float: left;
      text-align: center;
      border-right: 1px solid rgba(250, 250, 250, .3);
      padding: 1em 0;
    }
    .package {
      width: 80%;
      float: left;
      p {
        margin: 0;
        padding: 1em;
        color: black;
        font-weight: 100;
      }
    }
    .prioritize {
      width: 10%;
      float: left;
      text-align: center;
      padding: 1em 0;
    }
    .edit {
      width: 10%;
      float: left;
      text-align: center;
      padding: 1em 0;
    }
    .trash {
      width: 10%;
      float: left;
      text-align: center;
      padding: 1em 0;
    }
    i {
      transition: all .4s ease-in-out;
      &:hover {
        background: black;
        color: white;
      }
    }
  }
  #form {
    margin-top: 2em;
    padding: 0 5%;
    input[type="text"] {
      width: 72%;
      margin-right: 2%;
      display: inline-block;
      outline: none;
      border: none;
      height: 40px;
      border-radius: 4px;
      padding: 1em 2em;
    }
    input[type="submit"] {
      background: white;
      color: black;
      outline: none;
      border: none;
      height: 40px;
      border-radius: 4px;
      width: 25%;
      display: inline-block;
      transition: all .4s ease-in-out;
      cursor: pointer;
      &:hover {
        background: black;
        color: white;
      }
    }
  }
}

.links {
  display: block;
  margin: 1.5em auto 0 auto;
  text-align: center;
  font-size: 1em;
  color: black;
  a {
    color: black;
  }
}

.forms {
  padding: 0 5%;
}

label {
  color: white;
}

input[type="text"], textarea {
  width: 100%;
  margin: .5em 2% 1em 0;
  display: inline-block;
  outline: none;
  background: rgba(250, 250, 250, .4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}

textarea {
  height: 200px;
}

input[type="submit"] {
  background: white;
  color: black;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 4px;
  width: 25%;
  display: inline-block;
  transition: all .4s ease-in-out;
  cursor: pointer;

  &:hover {
    background: black;
    color: white;
  }
}
